*.o
.deps/

# Automake
Makefile.in

# Autoconf
/aclocal.m4
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/autom4te.cache/
Makefile
